.ui-overflow-hidden {
  overflow: hidden;
}

.safe-area-inset-bottom {
  padding-bottom: 0;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: calc(env(safe-area-inset-bottom) - 30rpx) !important;
}

.active-opacity {
  opacity: 0.6;
}
