.ui-transition {
  transition-timing-function: ease;
}

.ui-fade-enter-active,
.ui-fade-leave-active {
  transition-property: opacity;
}

.ui-fade-enter,
.ui-fade-leave-to {
  opacity: 0;
}

.ui-fade-enter-to,
.ui-fade-leave {
  opacity: 1;
}

.ui-fade-up-enter-active,
.ui-fade-up-leave-active,
.ui-fade-down-enter-active,
.ui-fade-down-leave-active,
.ui-fade-left-enter-active,
.ui-fade-left-leave-active,
.ui-fade-right-enter-active,
.ui-fade-right-leave-active {
  transition-property: opacity, transform;
}

.ui-fade-up-enter,
.ui-fade-up-leave-to {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}

.ui-fade-up-enter-to,
.ui-fade-up-leave,
.ui-fade-down-enter-to,
.ui-fade-down-leave,
.ui-fade-left-enter-to,
.ui-fade-left-leave,
.ui-fade-right-enter-to,
.ui-fade-right-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.ui-fade-down-enter,
.ui-fade-down-leave-to {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
}

.ui-fade-left-enter,
.ui-fade-left-leave-to {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.ui-fade-right-enter,
.ui-fade-right-leave-to {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.ui-slide-up-enter-active,
.ui-slide-up-leave-active,
.ui-slide-down-enter-active,
.ui-slide-down-leave-active,
.ui-slide-left-enter-active,
.ui-slide-left-leave-active,
.ui-slide-right-enter-active,
.ui-slide-right-leave-active {
  transition-property: transform;
}

.ui-slide-up-enter,
.ui-slide-up-leave-to {
  transform: translate3d(0, 100%, 0);
}

.ui-slide-down-enter,
.ui-slide-down-leave-to {
  transform: translate3d(0, -100%, 0);
}

.ui-slide-left-enter,
.ui-slide-left-leave-to {
  transform: translate3d(-100%, 0, 0);
}

.ui-slide-right-enter,
.ui-slide-right-leave-to {
  transform: translate3d(100%, 0, 0);
}

.ui-slide-up-enter-to,
.ui-slide-up-leave,
.ui-slide-down-enter-to,
.ui-slide-down-leave,
.ui-slide-left-enter-to,
.ui-slide-left-leave,
.ui-slide-right-enter-to,
.ui-slide-right-leave {
  transform: translate3d(0, 0, 0);
}

.ui-zoom-in-enter-active,
.ui-zoom-in-leave-active {
  transform-origin: center center;
  transition-property: opacity, transform;
}

.ui-zoom-in-enter,
.ui-zoom-in-leave-to {
  opacity: 0;
  transform: scale(0.7);
}

.ui-zoom-in-enter-to,
.ui-zoom-in-leave {
  opacity: 1;
  transform: scale(1);
}
