/* 行为相关颜色 */
$uni-color-error: #dd524d;
$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;

/* 文字基本颜色 */
$uni-text-color: #333; // 基本色
$uni-text-color-inverse: #fff; // 反色
$uni-text-color-grey: #999; // 辅助灰色，如加载更多的提示信息
$uni-text-color-disable: #c0c0c0;
$uni-text-color-placeholder: #808080;

/* 背景颜色 */
$uni-bg-color: #fff;
$uni-bg-color-grey: #f8f8f8;
$uni-bg-color-hover: #f1f1f1; // 点击状态颜色
$uni-bg-color-mask: rgb(0 0 0 / 40%); // 遮罩颜色

/* 边框颜色 */
$uni-border-color: #c8c7cc;

/* 尺寸变量 */

/* 文字尺寸 */
$uni-font-size-lg: 16;
$uni-font-size-sm: 12px;
$uni-font-size-base: 14px;

/* 图片尺寸 */
$uni-img-size-lg: 40px;
$uni-img-size-sm: 20px;
$uni-img-size-base: 26px;

/* Border Radius */
$uni-border-radius-lg: 6px;
$uni-border-radius-sm: 2px;
$uni-border-radius-base: 3px;
$uni-border-radius-circle: 50%;

/* 水平间距 */
$uni-spacing-row-lg: 15px;
$uni-spacing-row-sm: 5px;
$uni-spacing-row-base: 10px;

/* 垂直间距 */
$uni-spacing-col-lg: 12px;
$uni-spacing-col-sm: 4px;
$uni-spacing-col-base: 8px;

/* 透明度 */
$uni-opacity-disabled: 0.3; // 组件禁用态的透明度

/* 文章场景相关 */
$uni-color-title: #2c405a; // 文章标题颜色
$uni-color-subtitle: #555;
$uni-font-size-title: 20px; // 二级标题颜色
$uni-color-paragraph: #3f536e;
$uni-font-size-subtitle: 18px; // 文章段落颜色
$uni-font-size-paragraph: 15px;
